[submodule "2_3_Warenkorb"]
	path = 2_3_Warenkorb
	url = https://github.com/pulle12/2_3_Warenkorb.git
[submodule "3_1_Passwortmanager"]
	path = ../passwortmanager-angabe
	url = https://github.com/pulle12/passwortmanager.git
